<div class="p-4">
  <div class="row">
    <div class="col-12">
      <mat-card>
          <mat-card-header>
              <mat-card-title>Rutas</mat-card-title>
              <mat-card-subtitle>Listar</mat-card-subtitle>
              <div class="w-100">
                <div class="row">
                  <div class="col-11">
                    <div class="row justify-content-around">
                      <mat-form-field appearance="standard" class="col-10">
                        <mat-label>Filter id,limite, fecha de alta, fecha de baja, vigencia, intereses status
                        </mat-label>
                         <input matInput (keyup)="applyFilter($event)" placeholder="Filter id,limite, fecha de alta, fecha de baja, vigencia, intereses status" [(ngModel)]="filter" #input>
                      </mat-form-field>
                      <div>
                        <button mat-raised-button class="bg-secondary mt-3" (click)="Refresh()">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                          <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                          <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                          </svg>
                          Limpiar
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 pr-4">
                    <div class="row justify-content-end">
                      <button mat-mini-fab class="bg-success text-white"[routerLink]="['/creditos/agregar']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                        </svg>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
          </mat-card-header>
          <mat-card-content>
            <div class="container-fluid overflow-auto m-auto">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table tabla">
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> No. </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.no">
                      {{element.no}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Id </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.id">
                      {{element.id}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Descripcion </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.descripcion">
                      {{element.descripcion}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="lugar_origen">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Lugar de origen </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.lugar_origen">
                      {{element.lugar_origen}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="destino">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Destino </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.destino">
                      {{element.destino}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="fecha_salida">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Fecha de salida </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.fecha_salida">
                      {{element.fecha_salida}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="fecha_llegada">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Fecha de llegada </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.fecha_llegada">
                      {{element.fecha_llegada}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="ruta_ciclica">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Ruta ciclica </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.ruta_ciclica">
                      {{element.rutas_ciclica}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="referencia">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Referencia </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.referencia">
                      {{element.referencia}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="nombre_mercancia_recibida">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Nombre de mercancia recibida </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.nombre_mercancia_recibida">
                      {{element.nombre_mercancia_recibida}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="comentarios">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Comentarios </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.comentarios">
                      {{element.comentarios}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef class=" text-center"> Estado </th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngIf="element.estado">
                      {{element.estado}}
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="ventas">
                  <th mat-header-cell *matHeaderCellDef class=" text-center">Ventas</th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngFor="let venta of element.ventas" class="my-2">
                      <div *ngIf="venta">
                        {{venta.id}}
                        <span>
                          <button mat-mini-fab color="primary" class="ml-2" (click)="openDialog(venta.id,'ventas','Venta','Ventas')">
                            <mat-icon>filter_list</mat-icon>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="camiones">
                  <th mat-header-cell *matHeaderCellDef class=" text-center">Camiones</th>
                  <td mat-cell *matCellDef="let element" class="border-right text-center">
                    <div *ngFor="let camion of element.camiones" class="my-2">
                      <div *ngIf="camion">
                        {{camion.id}}
                        <span>
                          <button mat-mini-fab color="primary" class="ml-2" (click)="openDialog(camion.id,'camiones','Camion','Camiones')">
                            <mat-icon>filter_list</mat-icon>
                          </button>
                        </span>
                      </div>
                    </div>
                  </td>
                </ng-container>
                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef class="text-center p-0">Acciones</th>
                  <td mat-cell *matCellDef="let element" class="border-right px-3 text-center">
                    <div class="row justify-content-around">
                      <button mat-mini-fab color="basic" class="mr-4" [routerLink]="['/abonos/editar/' + element.id]">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-mini-fab color="primary" (click)="Delete(element.id)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row;columns:displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                  <td class="mat-cell" colspan="4">No data maching the filter "{{input.value}}"</td>
                </tr>
              </table>
            </div>
            <mat-paginator [pageSizeOptions]="[5,10,20,50,100]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
