<div *ngIf="addCarritos.value.cantidad == '' && id" class="carga">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="addCarritos.value.cantidad !== '' || !id" class="container">
  <mat-card class="card card-register">
      <mat-toolbar color="primary" >
          <span class="card__title">{{title}}</span>
      </mat-toolbar>
      <form [formGroup]="addCarritos" (submit)="addCarrito()">
        <div class="card__form">
          <mat-form-field  appearance="fill">
            <mat-label>Cantidad</mat-label>
            <input matInput type="number" placeholder="Cantidad"  name="cantidad" formControlName="cantidad" required="true">
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Nombre del Producto</mat-label>
            <mat-select formControlName="id_productos">
              <mat-option *ngFor="let producto of  productos$ | async" value={{producto.id}}>
                 {{producto.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Nombre de usuario</mat-label>
            <mat-select name="usuario_id" formControlName="id_usuario">
              <mat-option *ngFor="let usuario of usuarios$ | async" value={{usuario.id}}>
                {{usuario.nombre}} {{usuario.ap_paterno}} {{usuario.ap_materno}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex">
          <button mat-raised-button type="submit" color="primary" class="btn-register">
            {{btn}}
          </button>
        </div>
      </form>
  </mat-card>
</div>

