<div *ngIf="addCreditos.value.limite == '' && id" class="carga">
  <mat-spinner></mat-spinner>
</div>
<div  *ngIf="addCreditos.value.limite !== '' || !id" class="container">
  <mat-card class="card card-register">
      <mat-toolbar color="primary" class=>
          <span class="card__title">{{title}}</span>
      </mat-toolbar>
      <form [formGroup]="addCreditos" (submit)="addCredito()">
        <div class="card__form">
          <mat-form-field  appearance="fill">
            <mat-label>Limite</mat-label>
            <input matInput type="number" placeholder="Limite"  name="limite" formControlName="limite"  required="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha de alta</mat-label>
            <input matInput type="date" formControlName="Fecha_alta">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha de baja</mat-label>
            <input matInput type="date" formControlName="fecha_baja">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Vigencia</mat-label>
            <input matInput type="date" formControlName="vigencia">
          </mat-form-field>
          <mat-form-field  appearance="fill">
            <mat-label>Intereses</mat-label>
            <input matInput type="number" placeholder="Intereses"  name="intereses" formControlName="intereses"  required="true">
          </mat-form-field>
          <mat-slide-toggle class="card__status" color="warn" formControlName="status">Status</mat-slide-toggle>
          <mat-form-field appearance="fill" >
            <mat-label>Nombre de usuario</mat-label>
            <mat-select name="usuario_id" formControlName="id_usuario">
              <mat-option *ngFor="let usuario of usuario$ | async" value={{usuario.id}}>
                {{usuario.nombre}} {{usuario.ap_paterno}} {{usuario.ap_materno}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Numero de tarjeta</mat-label>
            <mat-select name="usuario_id" formControlName="id_metodoPago">
              <mat-option *ngFor="let metodo_pago of metodo_pago$ | async" value={{metodo_pago.id}}>
                {{metodo_pago.numero_tarjeta}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Cantidad de bono</mat-label>
            <mat-select name="usuario_id" formControlName="id_abonos">
              <mat-option *ngFor="let abono of abonos$ | async" value={{abono.id}}>
                {{abono.cantidad_abono}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="flex">
          <button mat-raised-button type="submit" color="primary" class="btn-register" >
             {{this.btn}}
          </button>
        </div>
      </form>
  </mat-card>
</div>

