<div *ngIf="addAbonos.value.cantidad_abono == '' && id" class="carga">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="addAbonos.value.cantidad_abono !== '' || !id" class="container">
  <mat-card class="card card-register">
      <mat-toolbar color="primary" >
          <span class="card__title">{{this.title}}</span>
      </mat-toolbar>
      <form [formGroup]="addAbonos" (submit)="addAbono()">
        <div class="card__form">
          <mat-form-field  appearance="fill">
            <mat-label>Cantidad de abono</mat-label>
            <input matInput type="number" placeholder="Cantidad de abono"  name="cantidad_abono" formControlName="cantidad_abono"  required="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha de abono</mat-label>
            <input  matInput type="datetime" id="fechaAbono" formControlName="fecha_abono" >
          </mat-form-field>
          <!-- <mat-slide-toggle class="card__status" color="warn" formControlName="estado_abono">Estado de abono</mat-slide-toggle> -->
          <mat-form-field appearance="fill">
            <mat-label>Estado del abono</mat-label>
            <mat-select formControlName="estado_abono" required="true">
              <mat-option  value="Devolucion">
                Devolución
              </mat-option>
              <mat-option  value="Cancelacion">
                Cancelación
              </mat-option>
              <mat-option  value="Activo">
                Activo
              </mat-option>
              <mat-option  value="Pagado">
                Pagado
              </mat-option>
              <mat-option  value="Parcial">
                Parcial
              </mat-option>
              <mat-option  value="Completo">
                Completo
              </mat-option>
              <mat-option  value="Adeudo">
                Adeudo
              </mat-option>
              <!-- <mat-option  value="Otro">
                Otro
              </mat-option> -->
            </mat-select>
          </mat-form-field>
          <!-- [ngClass]="{none: this.visible_credito}" -->
          <mat-form-field appearance="fill" >
            <mat-label>Limite de credito</mat-label>
            <mat-select name="credito_id" formControlName="credito_id">
              <mat-option *ngFor="let credito of  creditos$ | async" value={{credito.id}}>
                 {{credito.limite}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--[ngClass]="{none: this.visible_usuario}" -->
          <mat-form-field appearance="fill" >
            <mat-label>Nombre de usuario</mat-label>
            <mat-select name="usuario_id" formControlName="usuario_id">
              <mat-option *ngFor="let usuario of usuarios$ | async" value={{usuario.id}}>
                {{usuario.nombre}} {{usuario.ap_paterno}} {{usuario.ap_materno}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex">
          <button mat-raised-button type="submit" color="primary" class="btn-register" >
              {{this.btn}}
          </button>
        </div>
      </form>
  </mat-card>
</div>

