<!--
<mat-sidenav-container class="full">
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
        <span >Menu</span>
        <span class="spacer"></span>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar>
    <mat-nav-list>
        <a *ngFor="let data of nav" [routerLink]="[data.routerLink]" mat-list-item (click)="sidenav.toggle()">
          <mat-icon >{{data.icon}}</mat-icon>
          <span>{{data.label}}</span>
        </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon >menu</mat-icon>
    </button>
    <div class="w-100">
      <a [routerLink]="['/home']" class="text-white text-decoration-none"><h1 class="text-center">Mi central</h1></a>
    </div>
    <span class="spacer"></span>
    <button mat-button (click)="Logout()" >
      Logout
    </button>
  </mat-toolbar>

  <router-outlet></router-outlet>
</mat-sidenav-container> -->

<mat-sidenav-container class="full">
  <mat-sidenav #sidenav mode="side">
      <a *ngFor="let data of nav" [routerLink]="[data.routerLink]" mat-list-item (click)="sidenav.toggle()">
        <mat-icon >{{data.icon}}</mat-icon>
        <span>{{data.label}}</span>
      </a>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Título de la página</span>
    </mat-toolbar>
    <!-- contenido principal de la página -->
  </mat-sidenav-content>
</mat-sidenav-container>
<router-outlet></router-outlet>
