<div class="p-4">
  <div class="row">
    <div class="col-12">
      <mat-card class="overflow-auto h-card p-0" (scroll)="onScrollHandler($event)">
        <mat-card-header class="sticky-top p-3 header">
          <mat-card-title>Camiones</mat-card-title>
          <mat-card-subtitle>Listar</mat-card-subtitle>
          <div class="w-100">
            <div class="row">
              <div class="col-11">
                <div class="row justify-content-around">
                  <mat-form-field appearance="standard" class="col-10">
                    <mat-label>
                      {{ inputTex[keyword]  }}
                    </mat-label>
                    <mat-select [(ngModel)] ="keyword">
                      <mat-option *ngFor="let item of keywords" [value]="item">
                        {{inputTex[item]}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <div>
                    <form class="example-form">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Assignee</mat-label>
                        <input type="text" matInput [formControl]="busqueda" [matAutocomplete]="auto" (keydown.enter)="Buscador($event)">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                            {{option}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </form>
                    <button mat-raised-button class="bg-secondary mt-3" (click)="Vaciar()">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z" />
                        <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z" />
                        </svg>
                        Vaciar
                    </button>
                  </div>
                </div>
              </div>
              <div class="col-1 pr-4">
                <div class="row justify-content-end">
                  <button mat-mini-fab class="bg-success text-white" [routerLink]="['/camiones/agregar']">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                      class="bi bi-plus-lg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="container-fluid overflow-auto m-auto">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table tabla mt-2 mb-4">
              <ng-container matColumnDef="no">
                <th mat-header-cell *matHeaderCellDef class=" text-center"> No. </th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngIf="element.no">
                    {{element.no}}
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef class=" text-center w-auto"> Id </th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngIf="element.id">
                    {{element.id}}
                  </div>
                </td>
              </ng-container> 
              Name Column
              <ng-container matColumnDef="num_serie">
                <th mat-header-cell *matHeaderCellDef class="text-center">Numero de serie</th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngIf="element.num_serie">
                    {{element.num_serie}}
                  </div>
                </td>
              </ng-container>

               Weight Column
              <ng-container matColumnDef="niv">
                <th mat-header-cell *matHeaderCellDef class="text-center">Numero de identificación vehicular</th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngIf="element.niv">
                    {{element.niv}}
                  </div>
                </td>
              </ng-container>

               Symbol Column
               <ng-container matColumnDef="placas">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Placa Activa </th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngIf="element.placas">
                    Placa: {{element.placas.placa}}, Estado: {{element.placas.estado}} 
                     <span><button mat-mini-fab color="primary" class="ml-2">
                        <mat-icon>filter_list</mat-icon>
                      </button></span> 
                   </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="historial">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Historial </th>
                <td mat-cell *matCellDef="let element" class="border-right py-2 text-center">
                  <div *ngIf="element.historial">
                    {{element.historial.id}}
                    <span>
                      <button mat-mini-fab color="primary" class="ml-2" (click)="openDialog(element.historial.id,'historials','Historial','Historiales' )">
                        <mat-icon>filter_list</mat-icon>
                      </button>
                    </span>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="rutas">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Rutas </th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngFor="let ruta of element.rutas" class="my-2">
                    <div *ngIf="ruta">
                      {{ruta.id}}
                      <span>
                        <button mat-mini-fab color="primary" class="ml-2" (click)="openDialog(ruta.id,'rutas','Ruta','Rutas')">
                          <mat-icon>filter_list</mat-icon>
                        </button>
                      </span>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="gastos">
                <th mat-header-cell *matHeaderCellDef class="text-center"> Gastos </th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngFor="let gasto of element.gastos" class="my-2">
                    <div *ngIf="gasto">
                      {{gasto.id}}
                      <span><button mat-mini-fab color="primary" class="ml-2" (click)="openDialog(gasto.id,'gastos','Gasto','Gastos')">
                          <mat-icon>filter_list</mat-icon>
                        </button></span>
                    </div>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="usuario">
                <th mat-header-cell *matHeaderCellDef class="text-center">Usuario</th>
                <td mat-cell *matCellDef="let element" class="border-right text-center">
                  <div *ngIf="element.usuario">
                    {{element.usuario.id}}<span><button mat-mini-fab color="primary" class="ml-2" (click)="openDialog(element.usuario.id, 'usuarios','Usuario','Usuarios')">
                        <mat-icon>filter_list</mat-icon>
                      </button></span>
                  </div>
                </td>
              </ng-container>
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="text-center p-0">Acciones</th>
                <td mat-cell *matCellDef="let element" class="border-right px-2 text-center">
                  <div class="row justify-content-around">
                    <button mat-mini-fab color="basic" class="mr-4" [routerLink]="['/camiones/editar/' + element.id]">
                      <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="primary" (click)="Delete(element.id)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{busqueda.value}}"</td>
              </tr>
            </table>
            <div *ngIf="cargar" class="spinner">
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div> 
