<h1 class="title">Listar {{this.title}}</h1>
<div class="flex">
  <div class="field">
    <mat-form-field appearance="standard" class="width-100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter( $event)" placeholder="Buscar" #input>
    </mat-form-field>
  </div>
  <button  mat-raised-button color="primary" (click)="Refresh()">
    Limpiar
  </button>
  <button  mat-raised-button color="primary" routerLink="/camiones/agregar">
    <mat-icon >add </mat-icon>
    Agregar
  </button>
</div>
<div class="contenedor">
  <table mat-table [dataSource]="this.camiones$" class="table">

    <!-- Position Column -->
    <ng-container matColumnDef={{displayedColumns[0]}}>
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element" class="id"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef={{displayedColumns[1]}}>
      <th mat-header-cell *matHeaderCellDef> Numero de serie </th>
      <td mat-cell *matCellDef="let element"> {{element.num_serie}} </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[2]}}>
      <th mat-header-cell *matHeaderCellDef>Numero de identificacion vehicular</th>
      <td mat-cell *matCellDef="let element"> {{element[displayedColumns[2]]}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef={{displayedColumns[3]}}>
      <th mat-header-cell *matHeaderCellDef> Placas </th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngFor="let placa of element[displayedColumns[3]]" class="placa">
           {{placa.placa}}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[4]}}>
      <th mat-header-cell *matHeaderCellDef> Placa Activa </th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngFor="let placa of element[displayedColumns[3]]" class="placa">
          {{placa.activa}}
        </p>
      </td>
    </ng-container>

    <!-- Symbol Column -->

    <ng-container matColumnDef={{displayedColumns[5]}}>
      <th mat-header-cell *matHeaderCellDef>Id del historial</th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngIf="element.historial" class="placa">
          {{element.historial.id}}
          <button  mat-mini-fab color="primary" (click)="openDialog(element.historial.id,'historials','Historial','Historiales')" class="info">
            <mat-icon>filter_list</mat-icon>
          </button>
        </p>
        </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[6]}}>
      <th mat-header-cell *matHeaderCellDef>Id del gasto</th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngFor="let gasto of element.gastos" class="placa">
          {{gasto.id}}
          <button  mat-mini-fab color="primary" (click)="openDialog(gasto.id,'gastos','Gasto','Gastos')" class="info">
            <mat-icon>filter_list</mat-icon>
          </button>
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[7]}}>
      <th mat-header-cell *matHeaderCellDef>Descripcion</th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngFor="let gasto of element.gastos" class="placa">
          {{gasto.descripcion}}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[8]}}>
      <th mat-header-cell *matHeaderCellDef>Id de la ruta</th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngFor="let ruta of element.rutas" class="placa">
         {{ruta.id}}
          <button  mat-mini-fab color="primary" (click)="openDialog(ruta.id,'rutas','Ruta','Rutas')" class="info">
            <mat-icon>filter_list</mat-icon>
          </button>
        </p>

      </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[9]}}>
      <th mat-header-cell *matHeaderCellDef>Descripcion de la ruta</th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngFor="let ruta of element.rutas" class="placa">
         {{ruta.descripcion}}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[10]}}>
      <th mat-header-cell *matHeaderCellDef>Nombre de usuario</th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngIf="element.usuario">
          {{element.usuario.nombre}} {{element.usuario.ap_paterno}} {{element.usuario.ap_materno}}
          <button  mat-mini-fab color="primary" (click)="openDialog(element.usuario.id,'usuarios','Usuario','Usuarios')" class="info">
            <mat-icon>filter_list</mat-icon>
          </button>
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="acciones">
          <button mat-mini-fab color="acess" [routerLink]="['/camiones/editar/'+ element.id]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="Delete(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>
