<h1 class="title">Listar {{this.title}}</h1>
<div class="flex">
  <div class="field">
    <mat-form-field appearance="standard"  class="width-100">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
    </mat-form-field>
  </div>
  <button  mat-raised-button color="primary" (click)="Refresh()">
    Limpiar
  </button>
  <button  mat-raised-button color="primary" routerLink="/abonos/agregar">
    <mat-icon >add </mat-icon>
    Agregar
  </button>
</div>
<div class="contenedor">

  <table mat-table [dataSource]="this.abonos$" class="table">
    <ng-container matColumnDef={{displayedColumns[0]}}>
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element" class="id"> {{element[displayedColumns[0]]}} </td>
    </ng-container>


    <ng-container matColumnDef={{displayedColumns[1]}}>
      <th mat-header-cell *matHeaderCellDef> Cantidad de abono </th>
      <td mat-cell *matCellDef="let element"> {{element[displayedColumns[1]]}} </td>
    </ng-container>


    <ng-container matColumnDef={{displayedColumns[2]}}>
      <th mat-header-cell *matHeaderCellDef> Fecha de abono </th>
      <td mat-cell *matCellDef="let element">{{Fecha(element.fecha_abono)}}</td>
    </ng-container>


    <ng-container matColumnDef={{displayedColumns[3]}}>
      <th mat-header-cell *matHeaderCellDef> Estado de abono </th>
      <td mat-cell *matCellDef="let element"> {{element[displayedColumns[3]]}} </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[4]}}>
      <th mat-header-cell *matHeaderCellDef> Nombre del usuario </th>
      <td mat-cell *matCellDef="let element" class="lista nombre-usuario">
          <p *ngIf="element.usuario">
            {{element.usuario.nombre+' ' + element.usuario.ap_paterno +' '+ element.usuario.ap_materno}}
            <button mat-mini-fab color="primary" (click)="openDialog(element.usuario.id,'usuarios','Usuario','Usuarios')" class="info">
              <mat-icon>filter_list</mat-icon>
            </button>
          </p>
      </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[5]}}>
      <th mat-header-cell *matHeaderCellDef> Id del credito </th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngIf="element.credito">
          {{element.credito.id}}
          <button mat-mini-fab color="primary" (click)="openDialog(element.credito.id,'creditos','Credito','Creditos')" class="info">
            <mat-icon>filter_list</mat-icon>
          </button>
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef={{displayedColumns[6]}}>
      <th mat-header-cell *matHeaderCellDef> Limite del credito </th>
      <td mat-cell *matCellDef="let element" class="lista">
        <p *ngIf="element.credito">
          {{element.credito.limite}}
        </p>
      </td>
    </ng-container>
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="text-center"> Acciones </th>
      <td mat-cell *matCellDef="let element" class="contenedor-acciones">
        <div class="acciones">
          <button mat-mini-fab color="acess" [routerLink]="['/abonos/editar/'+ element.id]" *ngIf="this.rol == 'Administrator'">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="primary" (click)="Delete(element.id)" *ngIf="this.rol == 'Administrator'">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>


    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>
</div>

