<!-- <div *ngIf="addMetodosPago.value.numero_tarjeta == '' && id" class="carga">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="addMetodosPago.value.numero_tarjeta !== '' || !id" class="container">
  <mat-card class="card card-register">
      <mat-toolbar color="primary" class=>
          <span class="card__title">{{title}}</span>
      </mat-toolbar>
      <form [formGroup]="addMetodosPago" (submit)="addMetodoPago()">
        <div class="card__form">











          <mat-form-field appearance="fill" >
            <mat-label>Nombre de usuario</mat-label>
            <mat-select name="usuario_id" formControlName="id_usuario">
              <mat-option *ngFor="let usuario of usuarios$ | async" value={{usuario.id}}>
                {{usuario.nombre}} {{usuario.ap_paterno}} {{usuario.ap_materno}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Monto de la venta</mat-label>
            <mat-select name="usuario_id" formControlName="id_venta">
              <mat-option *ngFor="let venta of ventas$ | async" value={{venta.id}}>
                {{venta.monto}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Limite de credito</mat-label>
            <mat-select name="usuario_id" formControlName="id_creditos">
              <mat-option *ngFor="let credito of creditos$ | async" value={{credito.id}}>
                {{credito.limite}}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>
        <div class="flex">
          <button mat-raised-button type="submit" color="primary" class="btn-register">
              {{this.btn}}
          </button>
        </div>
      </form>
  </mat-card>
</div>
 -->
 <div  class="carga row w-100  justify-content-center align-content-center" *ngIf="!cargaOptions && btn=='Agregar' || btn == 'Actualizar' && !cargaOptions">
  <mat-spinner></mat-spinner>
</div>
<!--  -->
<!-- Card de fomulario -->
<div class="container pt-5" *ngIf="cargaOptions">
  <mat-card >
    <mat-toolbar class="justify-content-center bg-warning" >
      <h1>{{title}}</h1>
    </mat-toolbar>
    <form [formGroup]="formMetodosPago" (submit)="formMetodoPago()" class="w-100">
      <div class="row mt-3">
        <!-- Numero de tarjeta -->
        <div class="form-group  col-4">
          <mat-form-field  appearance="fill">
            <mat-label>Numero de tarjeta</mat-label>
            <input matInput type="number" placeholder="Numero de tarjeta"  formControlName="numero_tarjeta"  required="true">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.numero_tarjeta.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.numero_tarjeta.errors.required" class="text-danger">
              Numero de tarjeta requerida
            </mat-error>
          </div>
        </div>
        <!-- Mes -->
        <div class="form-group  col-4">
          <mat-form-field  appearance="fill">
            <mat-label>Mes</mat-label>
            <input matInput type="text" placeholder="Mes"  formControlName="mes"  required="true">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.mes.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.mes.errors.required" class="text-danger">
              Mes requerido
            </mat-error>
          </div>
        </div>
        <!-- Año -->
        <div class="form-group  col-4">
          <mat-form-field  appearance="fill">
            <mat-label>Año</mat-label>
            <input matInput type="text" placeholder="Año"  formControlName="anio"  required="true">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.anio.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.anio.errors.required" class="text-danger">
              Año requerido
            </mat-error>
          </div>
        </div>
        <!-- CVC -->
        <div class="form-group  col-4">
          <mat-form-field  appearance="fill">
            <mat-label>CVC</mat-label>
            <input matInput type="number" placeholder="CVC"  formControlName="cvc"  required="true">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.cvc.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.cvc.errors.required" class="text-danger">
              CVC requerido
            </mat-error>
          </div>
        </div>
        <!-- Titular -->
        <div class="form-group  col-4">
          <mat-form-field  appearance="fill">
            <mat-label>Titular</mat-label>
            <input matInput type="text" placeholder="Titular"  formControlName="titular"  required="true">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.titular.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.titular.errors.required" class="text-danger">
              Titular requerido
            </mat-error>
          </div>
        </div>
        <!-- Fecha Expedicion -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill">
            <mat-label>Fecha de expedicion</mat-label>
            <input matInput type="date" formControlName="fecha_expedicion">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.fecha_expedicion.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.fecha_expedicion.errors.required" class="text-danger">
              Fecha de expedicion requerida
            </mat-error>
          </div>
        </div>
        <!-- Fecha ingreso -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill">
            <mat-label>Fecha de ingreso</mat-label>
            <input matInput type="date" formControlName="fecha_ingreso">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.fecha_ingreso.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.fecha_ingreso.errors.required" class="text-danger">
              Fecha de ingreso requerida
            </mat-error>
          </div>
        </div>
        <!-- Folio -->
        <div class="form-group  col-4">
          <mat-form-field  appearance="fill">
            <mat-label>Folio</mat-label>
            <input matInput type="number" placeholder="Folio"  formControlName="folio"  required="true">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.folio.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.folio.errors.required" class="text-danger">
              Fecha de ingreso requerida
            </mat-error>
          </div>
        </div>
        <!-- Referencia -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill">
            <mat-label>Referencia</mat-label>
            <textarea matInput placeholder="Referencia" formControlName="referencia"  required="true"></textarea>
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.referencia.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.referencia.errors.required" class="text-danger">
              Referencia requerida
            </mat-error>
          </div>
        </div>
        <!-- Tipo -->
        <div class="form-group  col-4">
          <mat-form-field  appearance="fill">
            <mat-label>Tipo</mat-label>
            <input matInput type="text" placeholder="Tipo"  formControlName="tipo"  required="true">
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.tipo.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.tipo.errors.required" class="text-danger">
              Tipo requerido
            </mat-error>
          </div>
        </div>
        <!-- Descripcion -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill">
            <mat-label>Descripcion </mat-label>
            <textarea matInput placeholder="Descripcion" formControlName="descripcion"  required="true"></textarea>
          </mat-form-field>
          <!--  -->
          <div *ngIf="submitted && formMetodosPago.controls.descripcion.errors">
            <!--  -->
            <mat-error *ngIf="submitted && formMetodosPago.controls.descripcion.errors.required" class="text-danger">
              Descripcion requerido
            </mat-error>
          </div>
        </div>
        <!--Id usuario -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Nombre de usuario</mat-label>
            <mat-select formControlName="id_usuario">
              <mat-option *ngFor="let usuario of usuarios$ | async" value={{usuario.id}}>
                {{usuario.nombre}} {{usuario.ap_paterno}} {{usuario.ap_materno}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Id Venta -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill" >
            <mat-label>Monto de la venta</mat-label>
            <mat-select name="usuario_id" formControlName="id_venta">
              <mat-option *ngFor="let venta of ventas$ | async" value={{venta.id}}>
                {{venta.monto}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Id Creditos -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Limite de credito</mat-label>
            <mat-select  formControlName="id_creditos">
              <mat-option *ngFor="let credito of  creditos$ | async" value={{credito.id}}>
                 {{credito.limite}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!--Id Compras -->
        <div class="form-group  col-4">
          <mat-form-field appearance="fill" >
            <mat-label>Costo de la compra</mat-label>
            <mat-select formControlName="id_compras">
              <mat-option *ngFor="let compra of compras$ | async" value={{compra.id}}>
                {{compra.costo}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Button Agregar/Actualizar-->
      <div class="row justify-content-center" *ngIf="!addUpdate">
        <button mat-raised-button type="submit" color="warn" class="w-100 mb-3 mt-3 col-4">
          {{btn}}
        </button>
      </div>
      <!-- Buton de loading -->
      <div class="row justify-content-center" *ngIf="addUpdate">
        <button mat-raised-button disabled class="w-100 col-4 bg-warning mb-3 mt-3">
            <span class="spinner-grow spinner-grow-sm c-black"  role="status" aria-hidden="true"></span>
            <span class="spinner-grow spinner-grow-sm aria-hidden c-black"></span>
            <span class="c-black">loading...</span>
        </button>
      </div>
    </form>
  </mat-card>
</div>


