<div fxLayoutAlign="center center" fxFlexFill >
  <mat-card class="max-width">
    <mat-toolbar color="primary">
        <span class="title">Reset Password</span>
    </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="form" [formGroup]="ChangePasswordForm " (submit)="ChangePassword()" >
        <mat-form-field  appearance="fill">
          <mat-label>New Password</mat-label>
          <input matInput type="password" placeholder="New password"  required="true" formControlName="new_password" >
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Confirm password</mat-label>
          <input matInput type="password" placeholder="Confirm password" formControlName="confirm_password" >
        </mat-form-field>

        <button mat-raised-button color="primary" class="form__button" type="submit">Save Password</button>
    </form>

  </mat-card>
</div>

