<div *ngIf="addCompras.value.costo == '' && id" class="carga">
  <mat-spinner></mat-spinner>
</div>
<div  *ngIf="addCompras.value.costo !== '' || !id" class="container">
  <mat-card class="card card-register">
      <mat-toolbar color="primary" class=>
          <span class="card__title">{{title}}</span>
      </mat-toolbar>
      <form [formGroup]="addCompras" (submit)="addCompra()">
        <div class="card__form">
          <mat-form-field  appearance="fill" class="card__field">
            <mat-label>Costo</mat-label>
            <input matInput class="card__input" type="number" placeholder="Costo"  name="costo" formControlName="costo"  required="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha pedido</mat-label>
            <input matInput class="card__input" type="date" formControlName="fecha_pedido">
          </mat-form-field>
          <mat-form-field  appearance="fill" class="card__field">
            <mat-label>Referencia</mat-label>
            <input matInput class="card__input" type="text" placeholder="Referencia"  name="referencia" formControlName="referencia" required="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Fecha Llegada</mat-label>
            <input matInput class="card__input" type="date" formControlName="fecha_llegada">
          </mat-form-field>
          <mat-slide-toggle class="card__status" formControlName="status">Status</mat-slide-toggle>
          <mat-form-field appearance="fill" >
            <mat-label>Numero de tarjeta</mat-label>
            <mat-select name="usuario_id" formControlName="id_metodoPago">
              <mat-option *ngFor="let metodoPago of metodoPago$ | async" value={{metodoPago.id}}>
                {{metodoPago.numero_tarjeta}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Codigo interno</mat-label>
            <mat-select name="usuario_id" formControlName="id_lote">
              <mat-option *ngFor="let lote of lotes$ | async" value={{lote.id}}>
               {{lote.codigo_interno}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" >
            <mat-label>Nombre del proveedor</mat-label>
            <mat-select name="usuario_id" formControlName="id_proveedor">
              <mat-option *ngFor="let proveedor of proveedores$ | async" value={{proveedor.id}}>
                {{proveedor.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex">
          <button mat-raised-button type="submit" color="primary" class="btn-register">
              {{btn}}
          </button>
        </div>
      </form>
  </mat-card>
</div>
<div class="cargando" *ngIf="this.carga == 'true'">
  <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
</div>
