@import 'styles';
@include card-register(80px);
.none{
  display:none;
}
.card__form{
  padding-bottom: 0;
}
.btn{
  margin: 2px 0 20px 10px;
}
.card__placa{
  margin: 0 10px;
  .placa,.status, .estado{
    width: 100%;
  }
}
.status{
    height: 32px;
    margin-bottom: 30px;
}
.btn-add{
  margin: 2px 0 20px 10px;
}
@include desktop(){
  .card__placa{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
}

