<div *ngIf="addCamiones.value.num_serie == '' && id" class="carga">
  <mat-spinner></mat-spinner>
</div>
<div  *ngIf="addCamiones.value.num_serie !== '' || !id" class="container">
  <mat-card class="card card-register">
    <mat-toolbar color="primary" >
      <span class="card__title">{{title}}</span>
    </mat-toolbar>
    <form [formGroup]="addCamiones" (submit)="addCamion()">
      <div class="card__form">
        <mat-form-field appearance="fill">
          <mat-label>Numero de serie</mat-label>
          <input matInput type="number" placeholder="Numero de serie" name="num_serie" formControlName="num_serie"
            required="true">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Numero de identificacion vehicular</mat-label>
          <input matInput type="number" placeholder="Nivel" name="niv" formControlName="niv" required="true">
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Fecha del historial</mat-label>
          <mat-select  formControlName="id_historial">
            <mat-option *ngFor="let historial of historiales$ | async" value={{historial.id}}>
              {{historial.fecha}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Monto del gasto</mat-label>
          <mat-select formControlName="id_gastos">
            <mat-option *ngFor="let gasto of gastos$ | async" value={{gasto.id}}>
             {{gasto.monto}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Id de la ruta</mat-label>
          <mat-select name="usuario_id" formControlName="id_rutas">
            <mat-option *ngFor="let ruta of rutas$ | async" value={{ruta.id}}>
              {{ruta.id}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
          <mat-label>Nombre de usuario</mat-label>
          <mat-select name="usuario_id" formControlName="id_usuario">
            <mat-option *ngFor="let usuario of usuarios$ | async" value={{usuario.id}}>
              {{usuario.nombre}} {{usuario.ap_paterno}} {{usuario.ap_materno}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div style="width: 100%">
        <div formArrayName="placas">
          <div *ngFor="let placa of placas.controls; let i = index">
            <div [formGroupName]="i" class="card__placa">
              <mat-form-field appearance="fill">
                <mat-label>Placa</mat-label>
                <input matInput type="text" placeholder="Placa" formControlName="placa">
              </mat-form-field>
              <mat-slide-toggle class="status" color="warn" formControlName="activa">Placa Activa</mat-slide-toggle>
              <mat-form-field appearance="fill">
                <mat-label>Estado</mat-label>
                <input matInput type="text" placeholder="Estado" formControlName="estado">
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>

      <div style="width: 100%">
        <div formArrayName="addplacas">
          <div *ngFor="let placa of getplacas.controls; let i = index">
            <div [formGroupName]="i" >
              <button mat-mini-fab color="primary" class="btn"(click)="deleteTelefono(i)" >
                <mat-icon>remove</mat-icon>
              </button>
              <div class="card__placa">
                <mat-form-field appearance="fill">
                  <mat-label>Placa</mat-label>
                  <input matInput type="text" placeholder="Placa" formControlName="placa">
                </mat-form-field>
                <mat-slide-toggle class="status" color="warn" formControlName="activa">Placa Activa</mat-slide-toggle>
                <mat-form-field appearance="fill">
                  <mat-label>Estado</mat-label>
                  <input matInput type="text" placeholder="Estado" formControlName="estado">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <button mat-raised-button color="primary" (click)="addPlaca()" class="btn-add">
          Agregar placa
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <!-- <div>
        <div formArrayName="placas">
          <div *ngfor="let placas of placas.controls; let i = index" [formGroupName]="i">
            <mat-form-field appearance="fill">
              <mat-label>Placa</mat-label>
              <input matInput type="text" placeholder="Placa" formControlName="placa">
            </mat-form-field>
            <mat-slide-toggle class="status" color="warn" formControlName="activa">Placa Activa</mat-slide-toggle>
            <mat-form-field appearance="fill">
              <mat-label>Estado</mat-label>
              <input matInput type="text" placeholder="Estado" formControlName="estado">
              <a (click)="addPlaca()"></a>
            </mat-form-field>
          </div>
        </div>
      </div> -->
         <!-- <mat-slide-toggle class="status" color="warn" formControlName="activa">Placa Activa</mat-slide-toggle> -->
        <!-- <mat-form-field appearance="fill">
          <mat-label>Estado</mat-label>
          <input matInput type="text" placeholder="Estado" formControlName="estado">
        </mat-form-field> -->
        <!-- <div style="width: 100%">
          <div formArrayName="placas" *ngFor="let placa of placas.controls; let i = index">
            <div [formGroupName]="i" >


                  <mat-form-field appearance="fill" class="placa">
                    <mat-label>Placa</mat-label>
                    <input matInput type="text" placeholder="Placa" formControlName="placa">
                  </mat-form-field>
                  <mat-slide-toggle class="status" color="warn" formControlName="activa">Placa Activa</mat-slide-toggle>
                  <mat-form-field appearance="fill" class="estado">
                    <mat-label>Estado</mat-label>
                    <input matInput type="text" placeholder="Estado" formControlName="estado">
                  </mat-form-field>

            </div>
          </div>
        </div> -->


      <!-- <div style="width: 100%">
        <div formArrayName="placas" *ngFor="let placa of placas.controls; let i = index">
          <div [formGroupName]="i" >
              <button mat-mini-fab color="primary" class="btn"(click)="deleteTelefono(i)" >
                <mat-icon>remove</mat-icon>
              </button>
              <div class="card__placa">
                <mat-form-field appearance="fill" class="placa">
                  <mat-label>Placa</mat-label>
                  <input matInput type="text" placeholder="Placa" formControlName="placa">
                </mat-form-field>
                <mat-slide-toggle class="status" color="warn" formControlName="activa">Placa Activa</mat-slide-toggle>
                <mat-form-field appearance="fill" class="estado">
                  <mat-label>Estado</mat-label>
                  <input matInput type="text" placeholder="Estado" formControlName="estado">
                </mat-form-field>
              </div>
          </div>
        </div>
      </div> -->
      <!-- <div>
        <button mat-raised-button color="primary" (click)="addPlaca()" class="btn-add">
          Agregar placa
          <mat-icon>add</mat-icon>
        </button>
      </div> -->
      <div class="flex">
        <button mat-raised-button type="submit" color="primary" class="btn-register">
          {{btn}}
        </button>
      </div>
    </form>
  </mat-card>
</div>

