<div class="container">
  <h2>Menú de Campos de Búsqueda</h2>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-4">
        <mat-form-field appearance="fill">
          <mat-label>Campo:</mat-label>
          <select matNativeControl id="campo">
            <option value="campo1">Campo 1</option>
            <option value="campo2">Campo 2</option>
            <option value="campo3">Campo 3</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="fill">
          <mat-label>Operador:</mat-label>
          <select matNativeControl id="operador">
            <option value="igual">Igual a (==)</option>
            <option value="diferente">Diferente a (!=)</option>
            <option value="mayorIgual">Mayor o igual que (>=)</option>
            <option value="menorIgual">Menor o igual que (<=)</option>
            <option value="rango">Rango</option>
          </select>
        </mat-form-field>
      </div>
      <div class="col-sm-4">
        <mat-form-field appearance="fill">
          <mat-label>Valor:</mat-label>
          <input matInput type="text" id="valor">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group" *ngIf="selectedOperador === 'rango'">
      <div class="col-sm-6">
        <mat-form-field appearance="fill">
          <mat-label>Valor mínimo:</mat-label>
          <input matInput type="number" id="rangoMin">
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field appearance="fill">
          <mat-label>Valor máximo:</mat-label>
          <input matInput type="number" id="rangoMax">
        </mat-form-field>
      </div>
    </div>
    <div class="form-group text-center">
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </form>
</div>
