<div fxLayoutAlign="center center" fxFlexFill >
  <mat-card class="max-width">
    <mat-toolbar color="primary">
        <span class="title">Reset Password</span>
    </mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="form" [formGroup]="forgotPasswordForm" (submit)="ForgotPassword()" >
        <mat-form-field  appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email"  name="email" required="true" formControlName="email" >
        </mat-form-field>
        <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" formControlName="recaptcha" class="ngx-recaptcha2"></ngx-recaptcha2>
        <button mat-raised-button color="primary" class="form__button" type="submit">Reset Password</button>
    </form>
      <h3 class="forgot-password"><a [routerLink]="['/auth/login']">Log In</a> or <a [routerLink]="['/auth/register']">Sign Up</a></h3>

  </mat-card>
</div>
