.tabla{
  width: 150%;
}
.header{
  background-color:#424242;
}
.spinner{
  width: 120%;
  padding:0 0 50px 0;
}
.mat-card{
  max-height:810px;
}
.select{
  width: 300px;
}
.form{
  width: 400px;
}
.button{
  margin-bottom:20px ;
}
